body{
    background-color:black;
    color:white;
    text-align: center;
    align-items: center;
}
.hFont{
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
p{
    font-size: larger;
}
@media (max-width: 480px) {
    nav {
      display: none;

    }
  }